<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">Log In</h1>

            <form class="login-form" name="loginForm" (ngSubmit)="login()">
                <section class="input-section">
                    <mat-form-field>
                        <input matInput maxlength="60" required name="email" type="email" placeholder="Email" [formControl]="email">
                        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="email.hasError('required')">
                            Email is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput minlength="8" maxlength="128" required name="password" type="password" placeholder="Password" [formControl]="password">
                        <mat-error *ngIf="password.hasError('minlength')">
                            Minimum of 8 characters
                        </mat-error>
                        <mat-error *ngIf="password.hasError('maxlength')">
                            Maximum of 128 characters
                        </mat-error>
                        <mat-error *ngIf="password.hasError('required')">
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </section>

                <section class="button-section">
                    <button mat-button class="mat-primary md-button-lg" type="submit" aria-label="Login">
                        Log In
                    </button>
                    <a mat-button class="md-button-lg" type="button" routerLink="/signup" aria-label="Register">
                        Sign Up
                    </a>
                </section>
            </form>

            <br/>

            <section class="oauth-button-section">
                <button mat-button class="md-button-lg google-color" aria-label="Log in with Google" (click)="loginOauth('google')">
                    <mat-icon fontSet="fa" fontIcon="fa-google"></mat-icon>
                    Log in with Google
                </button>
                <button mat-button class="md-button-lg github-color" aria-label="Log in with Github" (click)="loginOauth('github')">
                    <mat-icon fontSet="fa" fontIcon="fa-github"></mat-icon>
                    Log in with Github
                </button>
                <button mat-button class="md-button-lg linkedin-color" aria-label="Log in with Linkedin" (click)="loginOauth('linkedin')">
                    <mat-icon fontSet="fa" fontIcon="fa-linkedin-square"></mat-icon>
                    Log in with Linkedin
                </button>
            </section>
        </div>
    </div>
</div>
