<div class="container">
    <header class="hero-unit" id="banner">
        <h1 class="page-header">Projects</h1>
    </header>
</div>

<div class="container">
    <div *ngIf="loadingProjects" class="spinner">
        <!--<preloader></preloader>-->
    </div>
    <!--<alert [hidden]="!loadingProjects && projects.length !== 0" type="info">No Projects</alert>-->
    <div [hidden]="projects.length <= 0" class="row cards-container">
        <ul class="project-list">
            <li *ngFor="let project of projects">
                <a class="card md-whiteframe-z1" id="{{project._id}}" routerLink="/projects/{{project._id}}" style="display: block;">
                    <div class="item"><img src="/api/upload/{{project.thumbnailId}}.jpg" alt=""></div>
                    <div class="card-content">
                        <h2 class="md-title">{{project.name}}</h2>
                        <p>{{project.info}}</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
