@import '../variables';

.spinner {
    font-size: 4em;
    text-align: center;
}

@media (max-width: $screen-md-max) {
    ul.project-list li .project {
        width: 95%;
        .cover, .caption {
            width: 100%;
        }
    }
}
